@import 'reset';

body {
    background: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    

    .header-content {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .menu {
        list-style-type: none;
        display: flex;

        li {
            margin-right: 10px;
            font-weight: 600;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #372eb9;
            }
        }

        .en {
            font-size: 14px;
            font-family: monospace;
            text-transform: uppercase;
        }
    }
}